.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

.container {
  background-color: transparent;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Roboto;
}

.heading {
  color: #326a9d;
  font-size: 40px;
  font-weight: bold;
}

.paragraph {
  color: #64748b;
  font-size: 20px;
}

.button {
  background-color: #cbced2;
  background-size: cover;
  color: #326a9d;
  padding: 15px;
  border: #326a9d solid 2px;
  border-radius: 10px;
  width: 150px;
}
